.alert-info>a{
    display: flex;
   justify-content: center;
    text-align: center;
    border: 3px lightgrey solid;
    background-color: lightskyblue;
    padding: 1em 2em;
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    font-size: xx-large;
}

ul{
    list-style-type: none;
}

.nav-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
}

li{
    width: 100%;
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 1em;
    padding: 1em;
}

.header-img{
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    height: 15em;
}

#social-media-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

html{
    box-sizing: border-box;
}

footer{
    display: flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-between;
}

#main{

 }

.main{

}

.sub-section{

}

.hidden-on-desktop{

}
